/* App.css */
body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0dde6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1600px;
    width: 100%;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #e2c4d3c4;
    margin: 0 auto;
}

h1 {
    font-size: 72px;
    margin-bottom: 60px;
    text-align: center;
}

.todo-item {
    display: flex;
    padding: 15px;
    font-size: 28px;
    border-bottom: 2px solid #ccc;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.todo-item button {
    padding: 12px 24px;
    font-size: 24px;
    border: 2px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.todo-item button.update-btn {
    background-color: #114277;
    color: #fff;
}

.todo-item button.delete-btn {
    background-color: #ff0000;
    color: #fff;
}

.todo-item button.update-btn:hover {
    background-color: #13126665;
}

.todo-item button.delete-btn:hover {
    background-color: #b3180097;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-item input[type="text"] {
    flex: 1;
    padding: 14px;
    font-size: 28px;
    border: 2px solid #ccc;
    border-radius: 40px;
}

.todo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.todo-text {
    flex: 1;
    margin-right: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-todo-form {
    display: flex;
    margin-top: 40px;
}

.add-todo-form input[type="text"] {
    flex: 1;
    padding: 24px;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 55px 0 0 55px;
}

.add-todo-form button {
    padding: 24px 50px;
    font-size: 30px;
    border: none;
    background-color: #1c11f5;
    color: #fff;
    border-radius: 0 55px 55px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-todo-form button:hover {
    background-color: #28328b7d;
}

.search-todo-form {
    display: flex;
    margin-top: 40px;
}

.search-todo-form input[type="text"] {
    flex: 1;
    padding: 12px;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 30px 30px 30px 30px;
}

.my-list-button {
    padding: 12px 30px;
    font-size: 30px;
    border: none;
    background-color: #8c8e8a;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.my-list-button:hover {
    background-color: #77787c7d;
}

.clear-list-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.clear-list-button button {
    padding: 12px 15px;
    font-size: 24px;
    background-color: #434347;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clear-list-button button:hover {
    background-color: #4f525f69;
}